@charset "UTF-8";

div.conteiner{
    background-color: lightcoral;
    margin-bottom: 20px;
    display: flex; 
    flex-flow: row nowrap;       
}
div.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    flex-basis: 50px;
}
div#caixa1{
    /*flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 150px;*/
    
    flex: 1 0 200px;
}
div#caixa2{
    /*flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 150px;*/

    flex: 1 0 200px;
}
div#caixa3{
     /*flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 150px;*/

    flex: 1 2 200px;
}
